<main>

	<div class="form">

		<h1 class="formTitle">Edit<br>the<br>song</h1>

		<form action="/{{song._id}}?_method=PATCH" method="POST">
			<p class="input-field">Edit song name:</p>
				<input type="text" name="songName" value="{{song.songName}}">
			<p class="input-field">Edit or add song description:</p>
				<input type="text" name="songDescription" value="{{song.songDescription}}">
			<p class="input-field">Edit or add the lyrics:</p>
				<input type="text" name="songLyrics" value="{{song.songLyrics}}">
			<p class="input-field">Edit or add link to hear song:</p>
				<input type="text" name="songLink" value="{{song.songLink}}">
			<button type="submit" class="submitButton">Save your edits</button>
		</form>

		<a href="/">Return to Home Page</a>

	</div>
</main>