<main>

    <h1>Details<br>of the<br>song</h1>

    <div class="screen">

        <h2>{{song.songName}}</h2>

        <h4>{{song.songDescription}}</h4>
        <h4>Song Lyrics: {{song.songLyrics}}</h4>
        <h4>Links to hear song: {{song.songLink}}</h4>

        <a href="/artist/{{song.id}}/editSong"><button>Edit song information</button></a>

        <form action="/song/{{song._id}}?_method=DELETE" method="POST">
            <button type="submit">Push to delete this song</button>
        </form>

        <a href="/">Return to Home Page</a>

    </div>

</main>