<main>
    <h2>Here are all the artists from the {{artist.artistGenre}} category</h2>
    <h1>{{artist.artistName}}</h1>
    <h4>{{artist.artistDescription}}</h4>
    <h4>Click on album to see songs</h4>
    {{#each artist.artistAlbum}}
        <a href="/album/{{id}}">{{albumName}}</a>
        <h4>{{albumDescription}}</h4>
        <h4>Year released {{albumYear}}</h4>
        <a href={{artistLink}}>Band's Website or Info</a>
    {{/each}}
    <button href="/editArtist">Edit artist information</button>

    <form action="/artist/{{artist._id}}?_method=DELETE" method="POST">
	<button type="submit">Push to delete this recipe</button>
	</form>
</main>