<main>
    <div class="show">
        <div>
            <h1>Artist<br>you are<br>viewing:</h1>
        </div>
        <div class="show-screen">
            <h2 class="name">{{artist.artistName}}</h2>
            <h4 class="h4">Artist Genre: {{artist.artistGenre}}</h4>
            <h4 class="description1">{{artist.artistDescription}}</h4>
            <a href={{artist.artistLink}} class="link">Band's Website or Info</a>
            <h4 class="click">Click on album to see songs:</h4>
            <div class="album">
                {{#each artist.artistAlbum}}
                <a href="/album/{{id}}">{{albumName}}</a>
                <h4 class="description1">{{albumDescription}}</h4>
                <h4 class="h4">Year of release {{albumYear}}</h4>
                {{/each}}
            </div>
            <div class="artistButtons">
                <a href="/album/new"><button>Add an album</button></a>
                <a href="/artist/{{artist._id}}/edit"><button>Edit artist info.</button></a>
                <form action="/artist/{{artist._id}}?_method=DELETE" method="POST" class="delete">
                    <button type="submit">Delete this artist</button>
                </form>
            </div>
            <a href="/" class="link">Return to Home Page</a>
        </div>
    </div>
</main>