<main>

    <h1>{{artist.artistName}}</h1>
    <h4>{{artist.artistDescription}}</h4>

    <a href="/">Return to Home Page</a>

    <h4>Click on album to see songs</h4>
    {{#each artistAlbum}}
        <a href="/album/{{id}}">{{albumName}}</a>
        <h4>{{albumDescription}}</h4>
        <h4>Artist Genre: {{artistGenre}}</h4>
        <a href={{artistLink}}>Band's Website or Info</a>
    {{/each}}

    <button href="/editArtist">Edit artist information</button>

    <form action="/artist/{{artist._id}}?_method=DELETE" method="POST">
	<button type="submit">Push to delete this artist</button>
	</form>

</main>