<main>

    <h1>Songs<br>from the<br>album</h1>

    <div class="screen">

        <h2>{{album.albumName}}</h2>

        <h4>{{album.albumDescription}}</h4>

        <h4>Year released: {{album.albumYear}}</h4>
        
        <h4>Click on song to see more info: </h4>
        {{#each album.albumSong}}
        <a href="/song/{{id}}">{{songName}}</a>
        <h4>{{songDescription}}</h4>
        {{/each}}

        <a href="/song/new"><button>Add a song to the album</button></a>

        <a href="/album/{{album.id}}/edit"><button>Edit album information</button></a>

        <form action="/album/{{album._id}}?_method=DELETE" method="POST">
            <button type="submit">Push to delete this album</button>
        </form>

        <a href="/">Return to Home Page</a>

    </div>
</main>